---
import {basename} from "path"
const {title} = Astro.props;
const isThisPath = (path) => path === `/${basename(Astro.request.url.pathname)}`
const navItem = (path, name) => (isThisPath(path)) ? `<span class="current-nav-item">${name}</span>` : `<a class="nav-item" href="${path}">${name}</a>`
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<style>
		</style>
	</head>
	<body>
    <!-- Adds a navigation bar to every page. -->
    <nav>
      { navItem("/", "Home") }
      { navItem("/about", "About") }
    </nav>
    <main>
    <h1>{title}</h1>
    <slot />
    </main>
  </body>
</html>

<style global>
.current-nav-item {
	font-weight: bold;
}
</style>